@use "../abstracts";
.model {
    @include abstracts.position(fixed, 0, 0, 0, 0, 100%, 100%);
    background: rgba(0,0,0,.4);
    @include abstracts.align(flex, center, center, null);
    z-index: 6;
    &__heading {
        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
            @include abstracts.responsive(xsmall) {
                font-size: 1.7rem;
            }
        }
    }
    &__body {
       background: abstracts.$white;
       width: 40rem;
       height: auto;
       padding: 2rem;
       font-size: 1.4rem;
       @include abstracts.animation(modelAnimate, .5s, linear, -10rem, 0);
       @include abstracts.responsive(xsmall) {
           width: 100%;
           margin-left: 1.5rem;
           margin-right: 1.5rem;
       }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstracts.responsive(xsmall) {
            flex-direction: column;
            align-items: start;
            span {
                display: block;
                margin-top: 1rem;
            }
        }
    }
}