@use "../abstracts/" as *;
.services {
    margin: 8rem 0;
    background: $silverLight-40;
    padding: 13rem 0;
    transform: skewY(-5deg);
    @include responsive(xsmall) {
        margin: 4rem 0;
        padding: 6rem 0;
    }
    &__contents {
        transform: skewY(5deg);
        &__container {
            @include align(flex, null, center, null);
        }
    }
    &__left {
        margin-right: 10rem;
        @include responsive(medium) {
            margin-right: 0;
        }
        &__heading {
            font-size: 3.5rem;
            font-weight: 900;
            line-height: 4rem;
            background: linear-gradient(35deg, $black 40%, $main1 40%);
            color: transparent;
            background-clip: text;
            text-transform: capitalize;
            @include responsive(medium) {
                font-size: 3rem;
                font-weight: 700;
            }
            @include responsive(xsmall) {
                font-size: 2rem;
                line-height: 3rem;
            }
        }
        &__paragraph {
            margin-top: 3.6rem;
            font-size: 1.6rem;
            line-height: 2.7rem;
            @include responsive(xsmall){
                margin-top: 2.5rem;
            }
        }
    } 
    &__list {
        margin-bottom: .5rem;
        &__heading {
            background: $white;
            font-size: 1.6rem;
            font-weight: 400;
            cursor: pointer;
            padding: 1.5rem;
            @include align(flex, null, center, null);
            text-transform: capitalize;
            &--active {
                color: $main1;
            }
            &--normal {
                color: $black;
            }
        }
        &__details {
            max-height: 0;
            overflow: hidden;
            font-size: 1.5rem;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            line-height: 2.3rem;
            &--show {
                max-height: 50rem;
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                transition: max-height .8s linear;
                animation: detailsAnimation .8s ease-in;
                @keyframes detailsAnimation {
                     from {
                      opacity: 0;
                      transform: translateY(-1rem);
                     } to {
                        opacity: 1;
                        transform: translateY(0rem);
                     }
                }
            }
        }
    }
    &__rotate {
        transform: rotate(90deg);
        transition: transform .8s linear;
    }
    &__back {
        transform: rotate(0deg);
        transition: transform .8s linear;
    }   
}