@use "index" as *;
.btn-default {
    @include button($main1, $main2, $white, 4.5rem,1.4rem,.2rem, 0,2rem);
    @include responsive(xsmall) {
        @include button($main1, $main2, $white, 4rem,1.3rem,.2rem, 0,2rem);  
    }
}
.btn-dark {
    @include button($blackDark, $blackDark, $white, 4.5rem,1.4rem,.4rem, 0,2rem);
    letter-spacing: .1rem;
    @include responsive(xsmall) {
        @include button($blackDark, $blackDark, $white, 4rem,1.3rem,.4rem, 0,2rem);
    }
}
.btn-dark-sm {
    @include button($blackDark, $blackDark, $white, 4rem,1.3rem,.4rem, 0,1.5rem);
    letter-spacing: .1rem;
}
.btn-white {
    @include button($white, $white, $black, 3rem,1.2rem,.3rem, 0,2rem);
    letter-spacing: .1rem;
}
.btn-pink {
    @include button($main1, $main2, $white, 3.5rem,1.3rem,.3rem, 0,2rem);
    letter-spacing: .1rem;
}