$white: #fff;
$black: #000;
$blackDark: #1c1d1f;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #FBBF24;
$green: #34D399;





